/* Video.css */

/* Style pour les grands écrans */
@media (min-width: 601px) {
  .video-container {
    display: flex;
    flex-direction: row;
    background-color: #010E1E;
    border: 1px solid;
    border-color: #001A31;
    box-shadow: 0 4px 12px #001A31; /* Ombre du conteneur */
    border-radius: 8px; /* Coins arrondis pour le conteneur général */
  }

  /*.liste-video-sidebar {
     flex: 1; 
    
  }*/

  .liste-video {
    flex: 2;
  }

  .back-button {
    display: none; /* Le bouton back n'est pas nécessaire sur les grands écrans */
  }
}

/* Style pour les petits écrans (téléphones) */
@media (max-width: 600px) {
  .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #010E1E;
    border: 1px solid;
    border-radius: 8px; /* Coins arrondis pour le conteneur général */
    border-color: #001A31;
    box-shadow: 0 4px 12px #001A31; /* Ombre du conteneur */
  }

  .liste-video-sidebar,
  .liste-video {
    display: none;
  }

  .liste-video-sidebar.active,
  .liste-video.active {
    display: block;
  }

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #00A0E9;
    z-index: 1;
    display: flex;
    align-items: center; /* Aligne l'icône avec le texte */
  }

  .back-button svg {
    margin-right: 8px; /* Espace entre l'icône et le texte */
  }

  .selected-video-title {
    font-size: 12px;
    color: #00A0E9;
    font-weight: bold;
  }
}
