/* App.css */

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Utilisation de viewport height pour s'assurer que la hauteur minimum de l'écran est couverte */
}

.content {
  flex: 1; /* Fait en sorte que le contenu principal s'étende pour remplir l'espace restant */
  padding: 20px; /* Ajoute un espace autour du contenu principal */
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 100px;
  position: relative; /* Nécessaire pour le positionnement du demi-arc */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère au-dessus du menu */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Espace les éléments horizontalement */
}

.navbar li {
  flex: 1; /* Permet aux éléments de prendre un espace égal */
  text-align: center; /* Centre le texte dans chaque élément */
  position: relative; /* Nécessaire pour le positionnement du demi-arc */
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10%; /* Ajoute des bords arrondis */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Ajout d'une transition pour l'effet de zoom */
  display: flex; /* Utilise flexbox pour centrer l'icône */
  justify-content: center;
  align-items: center;
  position: relative; /* Nécessaire pour le positionnement du demi-arc */
  z-index: 1; /* Place l'icône au-dessus du demi-arc */
}

.navbar li a:hover {
  background-color: #333;
}

.navbar li a.active {
  transform: translateY(-10px) scale(1.2); /* Zoom sur l'icône active et la déplace vers le haut */
  border-radius: 10%; /* Maintient les bords arrondis */
  background-color: transparent;
}

.navbar li a.active:after {
  content: '';
  position: absolute;
  bottom: -10px; /* Positionnement en bas pour qu'il dépasse du menu */
  left: 50%;
  transform: translateX(-50%);
  width: 80px; /* Largeur du demi-arc */
  height: 40px; /* Hauteur du demi-arc */
  background-color: #333; /* Couleur du demi-arc */
  border-radius: 1000px 1000px 0 0; /* Création du demi-arc */
  z-index: -1; /* Place le demi-arc derrière l'icône */
}

.navbar li a svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease; /* Ajout d'une transition pour l'effet de zoom */
}

.navbar li a.active svg {
  transform: scale(1.2); /* Zoom sur l'icône active */
}

/* Media Queries pour rendre la navigation responsive */
@media (max-width: 768px) {
  .navbar ul {
    justify-content: space-between; /* Ajuste l'espacement pour les écrans de taille moyenne */
  }

  .navbar li a {
    padding: 6px 10px; /* Réduit les paddings pour les écrans de taille moyenne */
    font-size: 14px; /* Réduit la taille de police pour les écrans de taille moyenne */
  }

  .navbar li a svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .navbar li a {
    padding: 4px 8px; /* Réduit davantage les paddings pour les petits écrans */
    font-size: 12px; /* Réduit la taille de police pour les petits écrans */
  }

  .navbar li a svg {
    width: 16px;
    height: 16px;
  }
}
