/* Style global pour le composant de classement */
.classement-content {
    background-color: #001A31; /* Couleur bleu foncé de fond container */
    color: #ffffff; /* Couleur blanche pour le texte */
    padding: 5px; /* Padding autour du contenu */
    border-radius: 12px; /* Coins arrondis */
    margin: 1px auto; /* Marges pour centrer le conteneur */
    max-width: 100%;
    max-height: 100%; /* Limite la hauteur à la hauteur de la fenêtre d'affichage */
    height: 85%; /* Définir une hauteur spécifique */
    position: relative;
    display: flex;
    width: auto;
    box-sizing: border-box; /* Inclut padding et bordures dans la largeur totale */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Ombre prononcée */
    transition: background-color 0.3s ease-in-out; /* Transition douce pour le fond */
    flex-direction: column;
  }
  .classement-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #010E1E;
}
  /* Style pour le tableau de classement */
.classement-table {
  width: 100%; /* Prendre toute la largeur disponible */
  border-collapse: collapse; /* Fusionner les bordures */
  table-layout: auto; /* Permettre un ajustement automatique de la largeur des colonnes */
  border-radius: 12px; /* Coins arrondis */
  background-color: #010E1E; /* Couleur de fond pour les en-têtes */
  max-height: 100%; /* Limite la hauteur à la hauteur de la fenêtre d'affichage */
  display: block; /* Permettre à max-height et overflow-y de fonctionner */
  overflow-y: auto; /* Barre de défilement verticale si nécessaire */
  scrollbar-width: none; /* Masque la barre de défilement */
}
  /* Effet au survol du conteneur de classement */
  .classement-content:hover {
    background-color: #002B49; /* Couleur bleu plus foncé au survol */
  }
  
  /* Style pour le titre */
  .classement-content h2 {
    color: #ffffff;
    border-bottom: 3px solid #00A0E9; /* Accent bleu clair sous le titre */
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  
  /* Style pour les cellules du tableau */
  .classement-table th,
  .classement-table td {
    padding: 12px; /* Espacement interne */
    text-align: center; /* Alignement du texte au centre */
    border-bottom: 1px solid #001A31; /* Ligne de séparation entre les lignes */
  }
  
  .classement-table th {
    color: gray; /* Couleur bleu clair pour le texte des en-têtes */
  }
  .classement-table tr {
    background-color: transparent; /* Couleur de fond pour les en-têtes */
  }
  /* Style pour la colonne des équipes */
  .classement-table .team-column {
    width: 100%; /* Prendre toute la largeur nécessaire */
    font-weight: bold;
  }
  /* Style pour la colonne des équipes */
  .classement-table .points-column {
    color: #00A0E9; /* Couleur bleu clair pour le texte des en-têtes */
    font-weight: bold;
  }
  
  /* Style pour le message d'erreur ou de chargement */
  .loading,
  .error {
    color: #ffffff; /* Couleur blanche pour le texte d'erreur ou de chargement */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Marges supérieures */
  }
  
  /* Pour les écrans de 768px et moins (tablettes en portrait et mobiles) */
  @media (max-width: 768px) {
    .classement-table th,
    .classement-table td {
      font-size: 14px; /* Taille de police réduite pour les petits écrans */
    }
  }
  
  /* Pour les écrans de 480px et moins (mobiles) */
  @media (max-width: 480px) {
    .classement-table th,
    .classement-table td {
      font-size: 12px; /* Taille de police encore plus réduite */
    }
  }
  