
/* Styles spécifiques au composant Resultat */
.resultat-container {
  font-family: Arial, sans-serif;
  background-color: #010E1E; /* Couleur bleu foncé de fond générale */
  padding: 10px;
  border-radius: 8px; /* Coins arrondis pour le conteneur général */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Légère ombre pour un effet de profondeur */
  max-width: 800px;
  position: relative; /* Position fixe pour que le conteneur reste visible */
  display: flex;
  flex-direction: column;
  height: 100%; /* Assure que le conteneur parent occupe toute la hauteur disponible */
  margin: 0px auto;

}


.resultat-container h1 {
  color: #ffffff; /* Couleur blanc claire de texte */
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px; /* Taille de texte légèrement augmentée */
}

/* Styles pour le menu d'onglets */
.resultat-container nav {
  display: flex;
  justify-content: space-between; /* Ajuste l'espacement entre les onglets */
  flex-wrap: wrap; /* Permet aux onglets de passer à la ligne si nécessaire */
  margin-bottom: 30px;
  border-bottom: 2px solid #00BFFF; /* Bordure inférieure pour délimiter le menu */
}

.resultat-container nav button {
  background-color: transparent;
  border: none;
  padding: 12px 16px; /* Réduction du padding pour s'adapter aux petits écrans */
  font-size: 16px;
  cursor: pointer;
  color: #ffffff; /* Couleur blanc claire de texte par défaut */
  transition: color 0.3s ease-in-out;
  outline: none;
  position: relative;
  flex: 1; /* Chaque bouton occupe une partie égale de l'espace disponible */
  text-align: center; /* Centrage du texte dans chaque bouton */
}

.resultat-container nav button:hover {
  color: #00BFFF; /* Couleur bleu clair au survol */
}

.resultat-container nav button.active {
  color: #00BFFF; /* Couleur bleu clair pour l'onglet actif */
  font-weight: bold; /* Texte en gras pour l'onglet actif */
}

.resultat-container nav button.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #00BFFF; /* Bordure animée pour l'onglet actif */
  transition: width 0.3s ease-in-out;
}

.resultat-container nav button:not(.active)::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #00BFFF;
  transition: width 0.3s ease-in-out;
}

.resultat-container nav button:hover:not(.active)::after {
  width: 50%; /* Indicateur de survol */
}

/* Styles pour le contenu affiché */
.resultat-container .tab-content-match {
  padding: 8px;
  background-color: #001A31; /* Couleur bleu foncé de fond du container */
  color: #ffffff; /* Couleur blanc claire de texte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour le contenu */
  max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur du parent */
  width: 100%; /* Assure que le conteneur prend toute la largeur disponible du parent */
  max-height: calc(100vh - 40px); /* Ajustez cette valeur en fonction des besoins (hauteur maximale) */
  max-height: 95%; /* Ajustez cette valeur en fonction des besoins (hauteur maximale) */
  box-sizing: border-box; /* Inclut padding et bordures dans la largeur totale */
  overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur maximale */
}


/* CSS Responsive pour petits écrans */
@media (max-width: 600px) {
  .resultat-container nav button {
    padding: 10px 8px; /* Réduction supplémentaire du padding sur petits écrans */
    font-size: 14px; /* Réduction de la taille du texte pour les petits écrans */
  }

  .resultat-container h1 {
    font-size: 24px; /* Réduction de la taille du titre pour les petits écrans */
  }
}
